name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: "*"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - name: Check code formatting with Prettier
        run: npm run prettier:check
      - name: TypeScript Check
        run: npx tsc --noEmit

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: npm test
        env:
          TZ: America/Los_Angeles

  acceptance-tests-mock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install chromium
      - name: Run Acceptance Tests (Mock Backend)
        run: npm run test:acceptance -- --run
        env:
          TZ: America/Los_Angeles
